body{
    margin:0%;
    padding: 0%;
}
.navbar-default{
    
    background-color: rgb(255, 136, 0);
}
.navbar-brand{
    color:black;
    font-size: 10vh;
    font-weight: bolder;
    font-family: serif;
}


.nav ul li a:hover{
    color:rgb(40, 19, 228);
}
.gradient-form{
    align-items: center;
    margin: auto;

}
.brandname{
   text-transform:uppercase ;
   font-weight: bolder;
}
.form-fields{

   padding-left: 5vh;
}
